body {
  margin: 0;
  /* font-family: "Roboto Slab", "Segoe UI", Roboto, "Helvetica Neue", "Noto Color Emoji"; */
	font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.medical{
	font-size: 131px;
}

.card-title{
	font-size: 13px;
	font-weight: bold;
}

.card{
	text-align: center;
	background-color: transparent !important;
	border: none !important;
}

.btn-service {
	cursor: pointer;
	max-width: min-content !important;
	margin-left: auto !important;
	margin-right: auto !important;

		transition: color 0.7s;
}

.btn-service:hover{
	color: #FED136;
	border-bottom: 1px solid #131D47;
	/* width: 180px !important;
  height: 180px !important; */

 
}

.footer{
	color: white !important;
	margin-bottom: 0 !important;
	padding-bottom: 35px;

}

.list-inline li a, .navbar a {
	color: white !important;
}

.navbar, .footer {
	background-color: #131D47;
}


 