
body {
	background-color: #ffff;
}

/* @media (min-width: 768px) {
  html {
    font-size: 16px;
  }
} */


.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

@media (min-width: 576px) {
	.card-deck .card {
		min-width: 220px;
	}
}

@media (max-width: 768px) {
	.card-deck .card {
		min-width: 250px;
	}
}


.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* @media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
} */

.card-header {
	/* height: 190px; */
}

.btn-carrito {
	border: none;
	border-radius: 0;
}

.card {
	/* padding: 0; */
	/* max-width: 260px; */
	border: 0;
	margin-bottom: 15px !important;
}

.img-card-header{
	height: 100%;
	width: 100%;

}

.card-header {
	padding: 0;
}

.title-product {
	font-size: 16px;
	margin-bottom: 0;
}

.price-product{
	font-size: 17px;
	font-weight: bold;
}

.color-footer {
	color: ivory;
}


.btn-social{

	height: 2.5rem;
	width: 2.5rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	border-radius: 100%;
}
	